.dish-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 60px;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    margin-top: 60px;
    transition: 0.5s ease all;
    padding: 0 20px;
}
    .box_dish {
        background: #fff;
        display: block;
        border-radius: 9px;
        transition: 0.5s ease all;
        cursor: pointer;
        box-shadow: 0px 0px 12px 5px rgb(100 185 235 / 20%);
        -webkit-box-shadow: 0px 0px 12px 5px rgb(100 185 235 / 20%);
        -moz-box-shadow: 0px 0px 12px 5px rgba(100,185,235,0.20);
    }
    .box_dish:hover {
        transition: 0.5s ease all;
        transform: scale(1.1);
    }
    .desc_dish {
        padding: 20px;
        padding-bottom: 25px;
    }
    .desc_dish h4{
        color: #64b9eb;
        font-size: 21px;
    }
    .desc_dish span {
        font-weight: bold;
        color: #063C4A;
        letter-spacing: 0.3px;
    }
    .image_dish img {
        border-radius: 9px 9px 0 0;
    }
@media screen and (max-width: 1024px) {
    .dish-content {
        max-width: 900px;
    }
}

    @media screen and (max-width: 768px) {
        .dish-content {
            grid-template-columns: repeat(2, 1fr);
            padding: 0 20px;
            max-width: 700px;
        }
    }
    @media screen and (max-width: 576px) {
        .dish-content {
            grid-template-columns: repeat(1, 1fr);
            padding: 0 20px;
        }
        .dish-content {
            max-width: 300px;
        }
    }